# Linear
LINEAR_API_KEY=
LINEAR_WEBHOOK_SECRET=
JERRY_AGENT_ACTOR_ID=

# GitHub target repo
GITHUB_REPO=rohhann12/subsearch
GITHUB_REPO_SSH=git@github.com:rohhann12/subsearch.git

# Orchestrator
PORT=3333
WORKSPACE_DIR=../../../workspace
APP_URL=http://localhost:3000
